:host { display: block; }

.indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	box-sizing: border-box;
	border-width: 3px;
	border-style: solid;
	
	border-color: rgb(0, 179, 0);
	:host(.init) & { border-color: rgb(104, 151, 255); }
	:host(.goal) & { border-color: rgb(255, 199, 43); }
	:host(.colliding) & { border-color: rgb(255, 58, 58); }
}
