$border: #CCC;

* { box-sizing: border-box; }

body {
	margin: 0;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	background-color: #F7F8F9;

	&.dragging,
	&.dragging robot-frame { cursor: grabbing; }
}

robot-frame {
	position: relative;
	cursor: grab;

	img { display: block; }
}

.ui {
	padding: 40px 30px;
	display: flex;
    justify-content: center;
}

.content {
	margin-right: 20px;
	border: 1px solid $border;
	border-radius: 3px;
	padding: 14px;
	background-color: #FFF;
}

.wrapper {
	position: relative;
}

.workspace {
	position: relative;

	img {
		display: block;
	}

	robot-frame {
		position: absolute;
		z-index: 1;
	}
}

.configspace {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.25;
}

.graph {
	position: absolute;
	top: 0;
	left: 0;
}

.sidebar {
	border: 1px solid $border;
	border-radius: 3px;
	background-color: #FFF;
	padding: 22px 18px;

	.configuration {
		display: flex;
		flex-direction: column;
		align-items: center;

		.slot {
			padding: 20px;
			border-radius: 5px;
			border: 2px dashed $border;
		}

		span { padding: 6px 0; }

		& + .configuration { margin-top: 16px; }
	}
}
